extends layout

block content
  .tituloEnc
    h1 Encuesta de tecnologia
  form.formEncuesta(name='formEncuesta')
    ul
      li
        label(for='name') Nombre
        input(type='text' name='name' maxlength='25')
        span Escribe tu nombre
      li
        label(for='pais') Pais de Residencia
        select#idComboBox(name='comboBox')
            option(value='') Elija una opción
        span Elige tu Pais
      li
        label(for='lenguaje') &iquest;Cual es tu lenguaje Preferido?
        .modulo1
          .boton
            input(type='radio' name='lenguaje' value='JavaScript')
            p JavaScript
          .boton
            input(type='radio' name='lenguaje' value='JAVA')
            p JAVA
          .boton
            input(type='radio' name='lenguaje' value='CSharp')
            p C#
        span Elige tu lenguaje de programacion.
      li
        label(for='SO') &iquest;Cual es tu Sistema Operativo Preferido?
        .modulo1
          .boton
            input(type='radio' name='SO' value='Windows')
            p Windows  
          .boton
            input(type='radio' name='SO' value='Linux')
            p Linux  
          .boton
            input(type='radio' name='SO' value='Solaris')
            p Solaris  
        span Elige Sistema Operativo Predilecto.
      li
        label(for='editor') &iquest;Cu&aacute;l es tu editor de texto preferido?
        .modulo1
          .boton
            input(type='radio' name='editor' value='Sublime')
            p Sublime text
          .boton
            input(type='radio' name='editor' value='Notepad')
            p Notepad++
          .boton
            input(type='radio' name='editor' value='Atom')
            p Atom
        span Elige tu editor de texto
      li
        label(for='navegador') &iquest;Cu&aacute;l es tu navegador web preferido?
        .modulo1
          .boton
            input(type='radio' name='navegador' value='Firefox')
            p Mozilla Firefox
          .boton
            input(type='radio' name='navegador' value='Chrome')
            p Google Chrome
          .boton
            input(type='radio' name='navegador' value='Opera')
            p Opera
        span Elige tu navegador web predilecto
      li
        label(for='bio') Algo que quieras comentarnos?
        textarea(name='bio' onkeyup='adjust_textarea(this)')
        span Escribe algo bonitoooo~ 
      li
        input#enviar(type='submit' value='Enviar')
  table#resultados
  script(type='text/javascript' src='js/jquery.js')
  script(type='text/javascript' src='js/main.js')
