*{  
    margin: 0;
    padding: 0;
    
}


.formEncuesta{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.formEncuesta h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.formEncuesta ul{
    list-style:none;
    padding:0;
    margin:0;  
}
.formEncuesta li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.formEncuesta li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}

.formEncuesta .boton, .formEncuesta option{
    font-size: 14px;
    color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
}



.formEncuesta li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


.formEncuesta select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.formEncuesta li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.formEncuesta textarea{
    resize:none;
    width: 378px;
    height: 75px;
}
.formEncuesta input[type="submit"],
.formEncuesta input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.formEncuesta input[type="submit"]:hover,
.formEncuesta input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

.modulo1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.boton{
    margin: 10px;
}

.tituloEnc{
    display: flex;
    justify-content: center;
}

.formEncuesta input[type="text"], #paises{
    margin: 7px 0;
}

.formEncuesta input[type="radio"]{
    margin:0 8px 0 3px;
}

#resultados{
    width: 600px;
    margin: 20px auto;
}

.formEncuesta #resultados tr td{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    
}